body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*====================================
             Home Page
====================================*/

.homePageFlexBoxs {
  display: flex;
  border: 1px solid black;
  flex-wrap: wrap;
  width: calc(33.33% -10px);
  justify-content: space-between;
}

.homePageFlexItems {
  display: flex;
  flex-wrap: wrap;
  width: calc(50% - 10px);
  justify-content: space-around;
}

.homeFlexItem {
  margin-left: 15px;
}

/*====================================
             Results Page
====================================*/

.resultsFlexbox {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 1% 5% 1% 3%;
  flex-wrap: wrap;
  box-shadow: -2px -2px;
  border-radius: 10px;
  padding: .5% .5% .5% .5%;
}
